
.rbc-calendar {
  font-family: "Inter", sans-serif;
  width: 1170px;
height: 859px;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 20px 20px 35px 20px;
  background-color: #fff;
  margin-top:32px;
}

.rbc-toolbar {
  margin-bottom: 20px;
}

/* Шапка с днями недели */
.rbc-header {
  background: #f9fafb;
  border: none;
  text-transform: uppercase;
  font-family: var(--font-main);
  font-size: var(--fs-11);
  font-weight: 700; 
  color: var(--color-light-gray);
  line-height: var(--lh-14);
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
 
}
.rbc-header + .rbc-header{
  border:none;
}
/* Сетка */
.rbc-month-view, .rbc-time-view {
  border: 1px solid #EAF0F4;;
  
}
.rbc-month-view {
  width: calc(163px * 7);
}
/* Высота одной строки (недели) */
.rbc-month-row {
  border-top: 1px solid #f3f4f6;
  min-height: 135px !important;
  height: 135px !important;
}
/* Ячейки */
.rbc-day-bg {
  border-right: 1px solid #f3f4f6;
  flex: 0 0 163px !important; 
  max-width: 163px !important;
  height: 135px !important;
}

.rbc-day-bg:last-child {
  border-right: none;
}


.rbc-off-range-bg{
 background-color: #fff;
}

/* События */
.rbc-event {
  background: #3b82f6;
  border: none;
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.rbc-event:hover {
  opacity: 0.9;
}

/* Сегодня */
.rbc-today {
  background: #eff6ff;
}

/* Стилизация цифр дней */
.rbc-date-cell {
font-family: var(--font-main);
  font-size: var(--fs-15);
  font-weight: 400; 
  color: var(--color-dark);
  line-height: var(--lh-25);
  text-align: right;
  padding:17px 15px 0px 0px;
  
}

/* Текущий день */
.rbc-now .rbc-button-link {
 font-family: var(--font-main);
  font-size: var(--fs-15);
  font-weight: 400; 
  color: var(--color-dark);
  line-height: var(--lh-25);

}

/* Дни вне текущего месяца */
.rbc-off-range {
  color: #A3A6B4;
  opacity: 0.3;
}